.splitAppMasterContrast .sapMSplitContainerMaster {
  background-color: #3f5161;
  border-right: 1px solid #4f667a;
}

.noTabPadding .sapMITBHead.sapMITBInLine.sapMITBTextOnly {
  margin: -.5rem 0.75rem -.5rem 0.25rem;
}
